@import url('https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,1,300,2,601,600,401,501,400,700&display=swap');

body {
	background: #EFE3DB;
	font-family: 'General Sans', sans-serif;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cec3bc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #cec3bb; 
}